{% extends "financeManager/parent.html" %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="/static/financeManager/css/account.css" />

    <div class="card center">
    <div class="header center">
      Account
    </div>
  </div>
<div style="
    width: 100%;
    margin-left: auto;
    margin-right: auto;
">
    <table style="width: 100%; height: 150%">
        <tr>
          <form method="post">
          {% csrf_token %}
            <td>
                <div class="ProfileFunctions card">

                    {% if isEdit %}
                        <label>User Name</label>
                        <input type="text" name="updateUserName" placeholder="{{ userName }}"/>
                        <label>Full Name</label>
                        <input type="text" name="updateFullName" placeholder="{{ data.fullName.0 }}"/>
                        <label>Credit Card Number </label>
                        <input type="text" name="updateCreditCard" placeholder="{{ data.creditCard.0 }}"/>
                        <button id="submitChanges"> Submit </button>


                    {% else %}
                        <label>Username: {{ userName }}</label>
                        <label>FullName: {{ data.fullName.0 }}</label>
                        <label>CrediCard: {{ data.creditCard.0 }}</label>
                        <label>Balance: {{ data.balance.0 }}</label>
                    {% endif %}
                </div>
            </td>
            <td>
               <div class="ProfileFunctions card">
                <button id="editProfile"
                    {% if isEdit %}
                        disabled
                    {% endif %}
                >Edit Profile</button>
                   <label>Change User Pic</label> <label>Account Password</label> <label>My Agent Reviews(1)</label>
                </div>
            </td>
          </form>
        </tr>
    </table>
</div>
\


{% endblock body%}
