{% extends "financeManager/parent.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/financeManager/css/account.css" />
<div class="header center">Account</div>
<table>
  {% if confirm %}
  <tr>
    <div class="confirm">
      <ul>
        {% if confirm.userName %}
          <li>User Name changed to {{ confirm.userName }}!</li>
        {% endif %}
        {% if confirm.fullName %}
          <li>Name changed to {{ confirm.fullName }}!</li>
        {% endif %}
        {% if confirm.creditCard %}
          <li>Credit Card changed to {{ confirm.creditCard }}!</li>
        {% endif %}
        {% if confirm.newPass %}
          <li>Password updated!</li>
        {% endif %}
      </ul>
    </div>
  </tr>
  {% endif %}
  {% if err %}
  <tr>
    <div class="err">
      <ul>
        {% if err.userName == True %}
          <li>User Name already in use!</li>
        {% endif %}
        {% if err.fullName == True %}
          <li>That is your current full name!</li>
        {% endif %}
        {% if err.creditCard == True %}
          <li>Invalid Credit Card!</li>
        {% endif %}
      </ul>
    </div>
  </tr>
  {% endif %}
</table>

<div style="
    width: 100%;
    margin-left: auto;
    margin-right: auto;"
    class="center"
>
    <table style="width: 100%; height: 150%">
        <tr>
          <form method="post">
          {% csrf_token %}
            <td style="padding: 10px;">
                <div class="ProfileFunctions card">
                    {% if isEdit %}
                    <table class="update">
                      <tr>
                        <td><label>User Name</label></td>
                        <td><input type="text" name="updateUserName" placeholder="{{ userName }}"/></td>
                      </tr>
                      <tr>
                        <td><label>Full Name</label></td>
                        <td><input type="text" name="updateFullName" placeholder="{{ data.fullName.0 }}"/></td>
                      </tr>
                      <tr>
                        <td><label>Credit Card Number </label></td>
                        <td><input type="text" name="updateCreditCard" placeholder="{{ data.creditCard.0 }}"/></td>
                      </tr>
                      <tr style="bottom: 0px;">
                        <td colspan="2"><button name="submitChanges" style="width: 100%"
                        class="center"> Submit </button></td>
                      </tr>
                    </table>
                    {% else %}
                        <label>Username: {{ userName }}</label>
                        <label>FullName: {{ data.fullName.0 }}</label>
                        <label>CrediCard: {{ data.creditCard.0 }}</label>
                        <label>Balance: {{ data.balance.0 }}</label>
                    {% endif %}
                </div>
            </td>
            <td>
               <div class="ProfileFunctions card">
                <button name="editProfile"
                    {% if isEdit %}
                        disabled
                    {% endif %}
                >Edit Profile</button>
                <button name="changePassword">Change Password</button>
                   <label>Change User Pic</label>
                   <label>My Agent Reviews(1)</label>
                </div>
            </td>
          </form>
        </tr>
    </table>
</div>


{% endblock body%}
