{% extends "financeManager/parent.html" %}
{% load filters %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="/static/financeManager/css/analytics.css" />

  <!-- google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <div class="card center">
    <div class="header center">
      Analytics
    </div>
  </div>


  <table class="columns center" style="width: 100%; margin-top: 25px;">
     <tr>
       <td><div id="barchart" class="card"></div></td>
       <td><div id="piechart" class="card"></div></td>
       <td><div id="bubblechart" class="card"></div></td>
     </tr>
   </table>


  <!-- charts js -->
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawBarChart);
    google.charts.setOnLoadCallback(drawPieChart);

    function drawBarChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Avg", { role: "style" } ],
        ["Negative", {{data.bar.neg}}, "red"],
        ["Positive", {{data.bar.pos}}, "green"],
      ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);
      // find which value is greater
      {% if data.bar.pos > data.bar.neg %}
        var max = {{data.bar.pos}};
      {% else %}
        var max = {{data.bar.neg}};
      {% endif %}
      var options = {
        title: "Average Transactions",
        backgroundColor: 'transparent',
        width: $(window).width()*.3,
        height: $(window).height()*.5,
        hAxis: {viewWindow: {
          min: 0,
          max: max+100
        }},
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        isStacked: true
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart"));
      chart.draw(view, options);
  }
  // Draw the chart and set the chart values
   function drawPieChart() {
     // Define the chart to be drawn.
     var data = new google.visualization.DataTable();
     data.addColumn('string', 'Element');
     data.addColumn('number', 'Percentage');
     {% for i in range %}
       data.addRows([
         ["{{data.pie.state|index:i}}", {{data.pie.count|index:i}}]
       ]);
     {% endfor %}

     var options = {
       title:'Transactions by State',
       backgroundColor: 'transparent',
       width: $(window).width()*.3,
       height: $(window).height()*.5,
      };
     // Display the chart inside the <div> element with id="piechart"
     var chart = new google.visualization.PieChart(document.getElementById('piechart'));
     chart.draw(data, options);
   }
  </script>

{% endblock body%}
