<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Imports CSS -->
    <link rel="stylesheet" type="text/css" href="/static/financeManager/css/auth.css" />

    {% if title %}
      <title>Database Project - {{ title }}</title>
    {% else %}
      <title>Database Project</title>
    {% endif %}
  </head>
  <body>
    <h1>Login Here:</h1>
    <div class="loginContainer">
      <form class="" action='userLogIn' method="post">
          {{ form.userName }}
          <label for="userName">User Name:</label>

          {{ form.password }}
          <label for="password">Password:</label>
      </form>
    </div>
  </body>
</html>
