{% extends "financeManager/parent.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/financeManager/css/account.css" />

  <div class="header">Account</div>
  {% if err.oldPass == True or err.confirm == True %}
      <div class="err">
        <ul>
          {% if err.oldPass == True %}
            <li>Cannot use current password!</li>
          {% endif %}
          {% if err.confirm == True %}
            <li>Passwords must match!</li>
          {% endif %}
        </ul>
      </div>
  {% endif %}
  <div class="ProfileFunctions card center" style="margin-top: 25px; ">
    <form method="post" style="width: inherit;">
      {% csrf_token %}
      <table style="width:100%;" class="update center passwordTable">
        <tr>
          <td><label>Password</label></td>
          <td><input type="password" name="updatePassword"/></td>
        </tr>
        <tr>
          <td><label>Confirm Password</label></td>
          <td><input type="password" name="confirmPassword"/></td>
        </tr>
        <tr style="bottom: 0px;">
          <td colspan="2"><button name="submitChanges" style="width: 100%"> Submit </button></td>
        </tr>
      </table>
    </form>

  </div>



{% endblock body %}
