{% extends "financeManager/parent.html" %}
{% load filters %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="/static/financeManager/css/transactions.css" />
    <div class="card center">
      <div class="header center">
        Transaction History
      </div>
    </div>


    <table class="noPadding">
      <tr>
        <td colspan="2">
          <form method="post">
            {% csrf_token %}
            <select name="selectTrans" class="coloredButton">
              <option value="default">Select Transaction Type</option>
              <option value="All">All</option>
              <option value="Income">Income</option>
              <option value="Expense">Expense</option>
            </select>
            <select name="selectYear" class="coloredButton">
              <option value="default">Select Year</option>
              {% for year in data.years %}
                <option value="{{year}}">{{year}}</option>
              {% endfor %}
            </select>
            <select name="selectState" class="coloredButton">
              <option value="default">Select State</option>
              {% for state in data.states %}
                <option value="{{state}}">{{state}}</option>
              {% endfor %}
            </select>
            <button name="filter" value="default" class="filter" style="float: right; width: 25%;">
                Filter
            </button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/static/financeManager/data/{{file}}">
           <button name="downloadCSV" class="coloredButton">
               Download CSV
           </button>
         </a>
       </td>
       <td>
         <div class="card center creditCard">
           <table class="padding">
             <tr>
                 <td class="t1">Credit Card #</td>
                 <td class="t2">XXXX-XXXX-XXXX-{{data.trans.creditCard.0}}</td>
             </tr>
           </table>
         </div>
       </td>
      </tr>

    </table>

    <div class="card center tableFixedHeaders">
      <table class="padding">
        <thead>
          <tr>
              <th>Transaction Amount</th>
              <th>Date of Transaction</th>
              <th>Business Name</th>
              <th>Address of Business</th>
              <th>State</th>
          </tr>
        </thead>
        {% if data.trans %}
          {% for i in range %}
          <tbody>
            <tr>
                <td>$ {{data.trans.amount|index:i}}</td>
                <td>{{data.trans.DOT|index:i}}</td>
                <td>{{data.trans.businessName|index:i}}</td>
                <td>{{data.trans.address|index:i}}</td>
                <td>{{data.trans.state|index:i}}</td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}
      </table>
    </div>




{% endblock body%}
