{% extends "financeManager/parent.html" %}
{% load filters %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="/static/financeManager/css/transactions.css" />
    <div class="card center">
      <div class="header center">
        Transaction History
      </div>
    </div>
    <form method="get">
        <button name="downloadCSV" class="coloredButton">
            Download CSV
        </button>
    </form>
    <div class="center">
      <table>
          <tr>
              <th>Transaction Amount</th>
              <th>Date of Transaction</th>
              <th>Business Name</th>
              <th>Address of Business</th>
              <th>State</th>
          </tr>
          {% for i in range %}
          <tr>
              <td>$ {{data.amount|index:i}}</td>
              <td>{{data.DOT|index:i}}</td>
              <td>{{data.businessName|index:i}}</td>
              <td>{{data.address|index:i}}</td>
              <td>{{data.state|index:i}}</td>
          </tr>
          {% endfor %}

      </table>
    </div>




{% endblock body%}
