h1 {

    border-bottom: solid 1px #000000;

}

.test {
    border-collapse: collapse;
    width: 30%;
    box-shadow: 6px 6px 10px 6px grey;


}

label {
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #333;
	display: block;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center
}

.ProfileFunctions {
	border-collapse: collapse;
    width: 100%;
	padding: 15px;
}

td {
	padding: 10px;
}

tr{
	width: 100%;
	padding: 10px;
}

button {
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #333;
	display: block;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;

	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;


}
