.creditCard {
  border: none;
  width: 50%;
  color: white;
  margin: 20px 0px 20px 20px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 6px 6px 10px 6px rgba(186,186,186, .5);
  float: right;
}

.creditCard .t1 {
  padding: 15px;
  height: inherit;
  width: 33%;
  background-color: black;
}

.creditCard .t2 {
  padding: 15px;
  height: inherit;
  color: black;
}
.tableFixedHeaders {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  margin-top: 0px;
}

.tableFixedHeaders th {
  position: sticky;
  top: 0;
  text-align: left;
  background-color: black;
  color: #ffffff;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.padding td {
    border: 1px solid black !important;
    padding: 4px 8px !important;
    height: inherit;
}

.coloredButton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 6px 6px 10px 6px rgba(186,186,186, .5);
    margin: 20px;
}

.filter {
  background-color: white;
  border: none;
  padding: 15px 32px;
  margin-left: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 6px 6px 10px 6px rgba(186,186,186, .5);
  margin: 20px;
}

.noPadding td {
  border: none;
  padding: 0;
}
